<html>
<head>
    <meta charset="UTF-8">
    <title>Все продукты на складах</title>
</head>
<body>
<%- include ('blocks/header.ejs') -%>
<div class="block">
    <p><b>Все продукты на складах:</b></p>
    <form action="/add_storage/" method="post">
        <button type="submit">Добавить склад</button>
        <input name="name_storage" placeholder="Введите название склада">
    </form>
    <% storages.forEach(function (storage) { %>
        <br><br><p><b> Склад: <%= storage.nameStorage %> </b></p>
        <form action="/add_rack/" method="post">
            <button type="submit">Добавить стеллаж</button>
            <input name="type_rack" placeholder="Введите тип стеллажа">
            <input hidden name="storage_id" value="<%= storage.idStorage %>">
        </form>
        <% storage.rack.forEach(function (rack) { %>
            <br><p><b> Стеллаж: <%= rack.typeRack %> </b></p>
            <form action="/add_product/" method="post">
                <button type="submit">Добавить продукт</button>
                <input hidden name="storage_id" value="<%= storage.idStorage %>">
                <input hidden name="rack_id" value="<%= rack.idRack %>">
                <input hidden name="type_rack" value="<%= rack.typeRack %>">
            </form>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Артикул</th>
                    <th>Тип</th>
                    <th>Наименование</th>
                    <th>Торговая марка</th>
                    <th>Количество</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% rack.products.forEach(function(product) { %>
                    <tr>
                        <td><%= product._id %></td>
                        <td><%= product.article %></td>
                        <td><%= product.type %></td>
                        <td><%= product.name %></td>
                        <td><%= product.trademark %></td>
                        <td><%= product.countProduct %> </td>
                        <td>
                            <form action="/append_product/" method="post">
                                <button type="submit">+</button>
                                <input hidden name="storage_id" value="<%= storage.idStorage %>">
                                <input hidden name="rack_id" value="<%= rack.idRack %>">
                                <input hidden name="product_id" value="<%= product._id %>">
                            </form>
                        </td>
                        <td>
                            <form action="/reduce_product/" method="post">
                                <button type="submit">-</button>
                                <input hidden name="storage_id" value="<%= storage.idStorage %>">
                                <input hidden name="rack_id" value="<%= rack.idRack %>">
                                <input hidden name="product_id" value="<%= product._id %>">
                            </form>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
    <% })}); %>
</div>
</body>
</html>
